.sidebar {
    border: 1px solid black;
    min-height: 100vh;
    min-width: 200px;
    padding-top: 60px;
}

.add-items {
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    border: 1px solid black;
    border-right: none;
    padding: 20px;
}