.skin-body-best {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skin-concern-filter {
    margin-top: 40px;
    width: 100%;
}

.skin-concern-filter h2 {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 10px;
}

.main-filter {
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    gap: auto;
}

.main-filter img {
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

/* all products */

.all-products {
    width: 60%;
    margin: auto;
    padding: 40px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 450px));
    gap: 30px;
}

.each-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-product h2 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
}

.each-product p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    object-fit: contain;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.description {
    font-style: italic;
    margin-bottom: 100px;
}

.add-to-button {
    background-color: rgb(140 208 227);
    padding: 30px 90px;
    border: none;
    outline: none;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    transition: 0.8s;
}

.each-product:hover .add-to-button {
    opacity: 1;
}